.button-default {
    @apply w-full h-[42px] rounded bg-[#131017] text-white px-2 outline-none;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.5),
                -4px -4px 8px 0 rgba(255, 255, 255, 0.02);
}

.button-default.active {
    animation: click 0.4s;
}

@keyframes click {
    50% {
        box-shadow: none;
        color: #19161D;
    }
}